<%- include("header") -%>
  <div class="regdon , fail , news-reg">
    <h1><%=status%></h1>
    <p class="regdonl , faill"><%=route%><a href=<%=link%>><%=content%></a> page</p>
  </div>
<%- include("footer") -%>